#General 

*.log
*.tmp
*.swp
*.bak
*.old

#OS/System files
.DS_Store
Thumbs.db

#Docker Compose & Secrets 
.env
*.env
*/.env
*/secrets/*
secrets/*
.envrc

#Ignore Docker volume mounts
**/data/
**/config/
**/cache/
**/etc-pihole/
**/etc-dnsmasq.d/

#IDE / Editor files
.vscode/
.idea/
*iml

#GitHub Actions temp files
*.retry

.vscode/**
.obsidian
.obsidian/**
.DS_Store

**/.envrc
**/.env

**/.terraform
**/.terraform.lock.hcl
**/.terraform.tfstate.*
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.auto.tfvars

**/*.auto.pkrvars.hcl
packer-*.log
packer_cache/
*.iso
*.box
*.ova

**/helm-credentials.yaml