version: "3"
services:
  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    networks:
      - backend
    ports:
      - 8003:8080
    envrionment:
      - TZ: America/Chicago
      - WATCHTOWER_CLEANUP: true
      - WATCHTOWER_DISABLE_CONTAINERS: adguardhome
      - WATCHTOWER_INCLUDE_RESTARTING: true
      - WATCHTOWER_ROLLING_RESTART: true
      - WATCHTOWER_SCHEDULE: 0 1 * * *
      - WATCHTOWER_NOTIFICATION_REPORT: "true"
      - WATCHTOWER_NOTIFICATION_URL: ${DISCORD_TOKEN}
      - WATCHTOWER_NOTIFICATION_TEMPLATE: |
        {{- if .Report -}}
          {{- with .Report -}}
        {{len .Scanned}} Scanned, {{len .Updated}} Updated, {{len .Failed}} Failed
              {{- range .Updated}}
        - {{.Name}} ({{.ImageName}}): {{.CurrentImageID.ShortID}} updated to {{.LatestImageID.ShortID}}
              {{- end -}}
              {{- range .Fresh}}
        - {{.Name}} ({{.ImageName}}): {{.State}}
            {{- end -}}
            {{- range .Skipped}}
        - {{.Name}} ({{.ImageName}}): {{.State}}: {{.Error}}
            {{- end -}}
            {{- range .Failed}}
        - {{.Name}} ({{.ImageName}}): {{.State}}: {{.Error}}
            {{- end -}}
          {{- end -}}
        {{- else -}}
          {{range .Entries -}}{{.Message}}{{"\n"}}{{- end -}}
        {{- end -}}
networks:
  backend:
    external: true
