services:
  jellyfin:
    image: jellyfin/jellyfin
    networks:
      - proxy
    ports:
      - 8096:8096
    container_name: jellyfin
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=America/Chicago
    volumes:
      - ./config:/config
      - tvshows:/data/tvshows:ro
      - /home/acal/media/Movies:/data/movies:ro
    port:
      - 8096:8096
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 1.1.1.1

networks:
  proxy:
    external: true
