services:
  jellyfin:
    image: jellyfin/jellyfin
    user: 
      - "${uid}:${gid}"
    network_mode: 'host'
    restart: 'unless-stopped'
    environment:
      - JELLYFIN_CACHE_DIR=/var/cache/jellyfin
      - JELLYFIN_CONFIG_DIR=/etc/jellyfin
      - JELLYFIN_DATA_DIR=/var/lib/jellyfin
      - JELLYFIN_LOG_DIR=/var/log/jellyfin
    volumes:
      - /etc/jellyfin:/etc/jellyfin
      - /var/cache/jellyfin:/var/cache/jellyfin
      - /var/lib/jellyfin:/var/lib/jellyfin
      - /var/log/jellyfin:/var/log/jellyfin
      - /usr/share/jellyfin/web:/usr/share/jellyfin/web
      - /mnt/media/movies:movies:ro
      - /mnt/media/tvshows:tvshows:ro