services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    networks:
      - proxy
    ports:
      - 8096:8096
    container_name: jellyfin
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=America/Chicago
    volumes:
      - ./config:/config
      - /home/acal/media/tvshows:/tvshows
      - /home/acal/media/Movies:/movies
    restart: unless-stopped
    dns:
      - 8.8.8.8
      - 1.1.1.1
    security_opt:
      - no-new-privileges:true

networks:
  proxy:
    external: true
