---
services:
  jellyfin:
    image: jellyfin/jellyfin:latest 
    container_name: jellyfin
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TZ}
    volumes:
      - ./config:/config
      - ./cache:/cache
      - /mnt/media:/media:ro
    ports:
      - 8096:8096
    restart: unless-stopped