services:
  jellyfin:
    image: jellyfin/jellyfin
    networks:
      - web-server
    ports:
      - 8096:8096
    container_name: jellyfin
    environment:
      - PUID=$PUID
      - PGID=$PGID
      - TZ=America/Chicago
    volumes:
      - ./config:/config
      - tvshows:/data/tvshows:ro
      - /home/acal/media/Movies:/data/movies:ro
    ports:
      - 8096:8096
    restart: unless-stopped

networks:
  web-server:
    external: true