services:
  jellyfin:
    image: jellyfin/jellyfin
    user: 
      - "${uid}:${gid}"
    container_name: jellyfin
    network_mode: 'host'
    restart: 'unless-stopped'
    environment:
      - JELLYFIN_CACHE_DIR=/var/cache/jellyfin
      - JELLYFIN_CONFIG_DIR=/etc/jellyfin
      - JELLYFIN_DATA_DIR=/var/lib/jellyfin
      - JELLYFIN_LOG_DIR=/var/log/jellyfin
    volumes:
      - /etc/jellyfin:/etc/jellyfin
      - cache:/var/cache/jellyfin
      - lib:/var/lib/jellyfin
      - log/var/log/jellyfin
      - /mnt/media/movies:movies:ro
      - /mnt/media/tvshows:tvshows:ro

volumes:
  cache:
  lib:
  log: